<div class="cat" style="width:300; overflow: visible;">
    <div class="expansible categories">
        <button class="expansible" id="cat_exp">
            Catégorie
        </button>
        <ul class="expansible" style ="display: none;">
            <li data-type="categories" data-title="Chemise">Chemise</li>
            <li data-type="categories" data-title="Pantalon">Pantalon</li>
        </ul>
    </div>
</div>