<div class="cat">
    <div class="categories">
        <% for(var i=0; i<categories.length; i++) {%>
            <div class="<%categories[i]%>" data-type="<%categories[i]%>">
                <button class="expansible"><%= categories[i].nom %></a></button>
                <ul class="scat" style ="display: none; list-style-type: none;">
                    <% for(var j=0; j<scategories.length; j++) {
                        if(scategories[j].nom == categories[i].nom){
                            const tmp = (scategories[j].snom);
                            const link = tmp.replace(/ /g,"_");
                            %>
                            <li class="scat" data-type="scategories" data-title="<%= scategories[j].snom %>"><a href="http://localhost:8080/<%=link%>"><%= scategories[j].snom %></a></li>
                        <%}%>
                    <% } %>
                </ul>
            </div>
        <% } %>
    </div>
</div>