<div class="container-fluid">
    <div class="row">
        <!-- lordre de sm a part  ecrire nav avant blog -->
        <div id = "links" class="nav col-sm-3">
            <a class="nav-link" href="#post1">post1</a>
            
        </div>
        <div id="posts" class="col-sm-8">
            <%- include('card.ejs') %>
        </div>
    </div>

</div>