<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">FRIPERIE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/gerant/produit">Gerer les produits</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/gerant/combinaisons">Gerer les combinaisons</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost:8080/gerant/accessoires">Gerer les accessoires</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gerer les commandes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/gerant/comm_non_valide">Commandes non validées</a>
                    <a class="dropdown-item" href="/gerant/comm_valide">Commandes déja validées</a>
                </div>
            </li>
        </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
</nav>