<%- include('../_header.ejs') %>


<% if(combi){%>
  <form action="/gerant/combinaisons/create" method="post" enctype="multipart/form-data">
<%} else if(acc){%>
  <form action="/gerant/accessoires/create" method="post" enctype="multipart/form-data">
<%} else {%>
  <form action="/gerant/produit/create" method="post" enctype="multipart/form-data">
<%}%>
    <div class="form-horizontal">
      <%- include("editor") -%>
      <div class="form-group row">
        <label class="col-form-label col-sm-2"></label>
        <div class="col-sm-10">
          <input type="submit" value="Ajouter" class="btn btn-default btn-success" />
          <% if(combi){%>
            <a class="btn btn-outline-dark cancel" href="/gerant/combinaisons">Annuler</a>
            <%} else if(acc){%>
              <a class="btn btn-outline-dark cancel" href="/gerant/accessoires">Annuler</a>
            <%} else {%>
              <a class="btn btn-outline-dark cancel" href="/gerant/produit">Annuler</a>
            <%}%>
        </div>
      </div>
    </div>
</form>
<%- include('../_footer.ejs') %>
