
a.scat {
    color: black;
}

div.categories {
    width:100%;
    overflow: visible;
}

button.categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(243, 243, 243);
    font-size: 24px;
    font-family: "arial", sans-serif;
    width: 100%;
    height: auto;   
    padding: 15px 5px 10px 5px;
    border-radius: 3px;
    border: 1px solid #808080;
    text-transform: uppercase;
}

button.expansible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(243, 243, 243);
    font-size: 24px;
    font-family: "arial", sans-serif;
    width: 100%;
    height: auto;   
    padding: 15px 5px 10px 10px;
    border-radius: 3px;
    border: 1px solid #808080;
    text-transform: uppercase;
}

div.cat {
    width:100%; 
    overflow: visible;  
}

ul.scat {
    padding: 15px 5px 15px 15px;
    font-size: 18px;
    justify-content: center;
    border: 1px solid #808080;
    margin-bottom: 0%;
    background-color: #b9b9b9;
}