#links{
    background-color: aqua;
    margin: 4px;
    /* border: 6px dashed black;
    height: auto;
    width: auto; */
}

#posts{
    background-color: brown;
    margin: 4px;
    /* border: 6px dashed black;
    height: 200px;
    width: 200px; */

}