#links{
    margin: 5px;
    height: auto;
    width: 100%;
    height: fit-content;
    align-items: start;
    padding-top: 12px;
}

#posts{
    /* background-color: brown; */
    margin-left: 4px;
    /* border: 6px dashed black;
    height: 200px;
    width: 200px; */

}